body{
	background-color: black;
	background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),url('bg.gif');
	background-repeat: repeat;
    text-align:center;
}
.keygen{
	display: inline-block;
    top: 15%;
	
	position: relative;
	padding:20px;
	width:50%;
	text-align:center;
	background-image: linear-gradient(#00e000, green);
	color: white;
	border-radius: 5px;
	animation: scroll 50s infinite linear;
}

.macAddr{
	width: 60px;
	padding: 12px 20px;
	margin: 8px 0;
	border-radius: 100%;
	background-image: linear-gradient(black, #2a2a2b);
	color:white;
}

.button{
	width: 60%;
	margin-top:50px;
	padding:12px;
	border-radius: 4px;
	background-image: linear-gradient(yellow, #ad9f02);
	color: black;
}
.dice{
	width: 40px;
	height: 40px;
	border: 0px;
	float: right;
	background: url(dice.gif);
	background-size:cover;
	cursor: default;
}
.dice:hover{
	background: url(dice-hover.gif);
	background-size:cover;
	cursor: pointer;
}
.dice:active{
	background: url(dice-click.gif);
	background-size:cover;
	cursor: pointer;
}
.entry{
	width: 56%;
	padding-top:12px;
	padding-bottom:12px;
	padding-left:12px;
	border-radius: 4px;
	background-image: linear-gradient(black, #2a2a2b);
	color:white;
}
.leaveOffering{
	text-align:center;
	width:100%;
	padding: 20px;
	color: white;
	font-size: 140%;
	font-weight: bold;
}
.askRonald{
	float:left;
	padding-right: 3%;
}